@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: Figtree;
        src: url('./assets/fonts/static/Figtree-Medium.ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: Figtree;
        src: url('./assets/fonts/static/Figtree-ExtraBold.ttf');
        font-weight: 800;
    }
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Figtree';
        src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('woff2 supports variations'),
            url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('woff2-variations');
        font-weight: 500 800;
    }
}


:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;

    --font-weight-medium: 500;
    --font-weight-extrabold: 800;

    --fs-header: clamp(0.75rem, 0.537vw + 0.492rem, 0.875rem);
    --fs-title: clamp(1.25rem, 1.075vw + 0.734rem, 1.5rem);
    --fs-description: clamp(0.875rem, 0.537vw + 0.617rem, 1.0rem);

    --space-l: 1.5rem;
    --space-m: 0.75rem;
    --space-s: 0.5rem;
    --space-xs: 0.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow);
    min-height: 100vh;
    width: min(90%, 100%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.blog-card {
    width: 100%;
    max-width: clamp(20.4375rem, 0.957vw + 0.8186rem, 24rem);;
    padding: var(--space-l);
    color: var(--gray-950);
    background-color: var(--white);
    line-height: 1.5;
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px var(--gray-950);
    transition: all 0.6s ease;
  

    @media (min-width: 768px) {
        max-width: 384px;
    }
}

.blog-card:hover {
    box-shadow: 16px 16px 0px var(--gray-950);
}

.blog-card:hover h2{
    color: var(--yellow);
}

.blog-card__img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-card__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: var(--space-m);
    margin-top: var(--space-l);
    margin-bottom: var(--space-m);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--fs-header);
}

.blog-card__category {
    padding: var(--space-xs) var(--space-m);
    background-color: var(--yellow);
    border-radius: 4px;
}

.blog-card__published {
    font-weight: var(--font-weight-medium);
}

.blog-card__title {
    font-size: var(--fs-title);
    transition: all 0.6s ease;
} 

.blog-card__description {
    font-size: var(--fs-description);
    color: var(--gray-500);
}

.blog-card__author {
    display: flex;
    align-items: center;
    margin-top: var(--space-l);
}

.blog-card__author-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.blog-card__author-name {
    font-size: 0.875rem;  
    margin-left: var(--space-m); 
    font-weight: var(--font-weight-extrabold);
    @media (min-width: 768px) {
        font-weight: var(--font-weight-medium);
    }
}
