/* Fonts */
@font-face {
    font-family: 'Outfit';
    src: url('../../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('../../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

html {
    font-size: 16px;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--stone-600);
    background-color: var(--stone-100);
}

section {
    padding: 0 2rem; /* 0 32px */
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table caption {
    text-align: start;
    margin-bottom: 0.75rem; /* 12px */
}

table tr:not(:last-child) {
    border-bottom: 1px solid var(--stone-150);
}

table th {
    padding: 0.75rem 0.75rem 0.5rem 1.5rem; 
    text-indent: 8px;
    color: var(--stone-600);
    font-weight: 400;
    text-align: start;
}

table td {
    padding: 0.75rem 1.5rem 0.75rem 0.5rem; 
    color: var(--brown-800);
    font-weight: 700;
    
}

h1, h2 {
    font-family: 'YoungSerif', sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.5rem; /* 24px */
}

h1 {
    font-size: 2.25rem; /* 36px */
    color: var(--stone-900);
}

h2 {
    font-size: 1.75rem; /* 28px */
    color: var(--brown-800);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--stone-150);
    margin: 2rem; /* 32px */
}

ul, ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 24px;
}

li {
    padding-left: 15px;
}

li::marker {
    color: var(--brown-800);
    font-weight: 700;
}


/* section Hero  */
section.hero {
    padding: 0;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero .content {
    padding: 2.5rem 2rem 2rem; /* 40px 32px 32px*/
}

.preparation-time {
    padding: 1.5rem; /* 24px */
    margin-top: 2rem; /* 32px */
    background-color: var(--rose-50);
}

.preparation-time h2 {
    font-family: Outfit, sans-serif;
    font-size: 1.25rem; /* 20px */
    font-weight: 600;
    color: var(--rose-800);
    margin-bottom: 1rem; /* 16px */
}

.preparation-time ul::marker {
    color: var(--rose-800);
}

/* section Nutrition */
.nutrition {
    margin-bottom: 2.5rem; /* 40px */
}

@media screen and (min-width: 768px) {

    section {
        padding: 2.5rem; /* 40px */
    }
    
    h1 {
        font-size: 2.5rem; /* 40px */
    }

    .hero img {
        border-radius: 12px;
        margin: 40px 40px 0;
    }
    
}
