@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

.text-preset-1 {
    font-family: $font-family-fraunces;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0rem;
    font-weight: bold;
}

.text-preset-2 {
    font-family: $font-family-montserrat;
    font-size: 0.875rem;
    line-height: 110%;
    letter-spacing: 0rem;
    font-weight: bold;
}

.text-preset-3 {
    font-family: $font-family-montserrat;
    font-size: 0.875rem;
    line-height: 160%;
    letter-spacing: 0rem;
    font-weight: 500;
}

.text-preset-4 {
    font-family: $font-family-montserrat;
    font-size: 0.75rem;
    line-height: 120%;
    letter-spacing: 0.3125rem;
    font-weight: 500;
}

.text-preset-5 {
    font-family: $font-family-montserrat;
    font-size: 0.8125rem;
    line-height: 120%;
    letter-spacing: 0rem;
    font-weight: 500;
}